/*---------FULL PAGE STYLE--------*/ 
html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    opacity: 1; 
    transition: 3s opacity; 
    letter-spacing: .2vw; 
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw; 
    overflow-x: hidden; 
    user-select: none; 
} 

body.face-out {
    opacity: .1;
}


h1 { 
    text-transform: uppercase;
    font-family: Century Gothic;
    text-align: center; 
    margin-top: 3%;
    color: rgb(255, 255, 255);
} 

h1:hover { 
    filter: grayscale(5%);
    transform: scale(1.1); 
    transition: transform 1s; 
} 

.white-text {
    color:#fff; 
    padding-top: 10vh;
}

p {
    text-align: justify; 
    letter-spacing: .1vw;
    font-family: Century Gothic;
    font-size: 20px; 
    padding-left: 1vw; 
    padding-right: 1vw;
} 

p:hover {
    transform: scale(1.1); 
    transition: transform 1.5s; 
    /* color: rgb(175, 85, 228) */
} 

.center {
    text-align: center; 
} 

.center:hover {
    transition: transform 2s; 
    transform: scale(1.1);
}

a {
    color: blue; 
    text-decoration: underline; 
}

q {
    font-style: italic; 
} 

q:hover { /*this section is not shown in the sample*/
    transform: scale(1.1); 
    transition: transform 1.5s; 
} /*end of section not shown in sample*/

img {
    filter: grayscale(75%); 
    border-radius: 10px; 
    max-width: 100%; 
    height: 350px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
} 

img:hover {
	filter: grayscale(2%);  
    transition: transform 1.3s; 
	transform: scale(1.1); 
} 

@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
} 

footer {
    padding: 1%; 
    background-color: white;
}

/*----------/END FULL PAGE STYLE----------*/ 

/*----------/NAV BAR STYLE----------*/ 
.Navbar { 
    background-color: black; 
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 5s;
    animation: moveNav 5s;
}

@keyframes moveNav {
    from {left: -100vw;} 
    to {left: 0vw;} 
} 

.Navbar a {
    float: left; 
    display: block; 
    color: rgb(207, 207, 207); 
    padding: 15px 15px; 
    text-decoration: none; 
    font-family: Ariel; 
    font-size: 20px; 
    text-align: center; 
    position: relative;
    -webkit-animation: moveNavText 5s;
    animation: moveNavText 5;
}

@keyframes moveNavText {
    from {top: -100vw;} 
    to {top: 0vw;} 
} 

@media screen and (max-width: 576px) {
    .Navbar a{
        width: 20%;
        font-size: 12px;
    }
} 

.Navbar a:hover {
    background-color: #fff;
    color: black; 
    font-weight: bold; 
}


.Navbar a.active { 
    background-color: rgb(141, 141, 141);
}
/*----------/END NAV BAR STYLE----------*/ 

/*----------VIDEO STYLE----------*/ 
#Code_Video {
    position: fixed; 
    right: 0; 
    bottom: 0; 
    z-index: -1; 
    min-width: 100%; 
    max-width:100%;
} 

@media screen and (max-width: 576px) {
    #Code_Video {
        display: none;
    }
}


.Video_Text { 
    background: rgba(0,0,0,0.3);
    color: white; 
    width: 100%; 
    height: 100vh;
    padding-top: 2vh; 
    position: relative; 
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
} 

@keyframes moveVideoText {
    from {top: -100vw;} 
    to {top: 0vw;} 
}  

/*----------/END VIDEO STYLE----------*/  

/*----------SLIDESHOW STYLE-------------*/ 
#Slideshow_Background {
    background: rgba(255, 255, 255, 0.35);  
}

.mySlides{
    display: none; 
}

/* Slideshow section / container */
#Slideshow_Container {
    width: 39.5vw;
    height: auto; 
    padding-top: 4%;
    position: relative; 
    margin:auto; 
}

/* Images contained within the slideshow */
.Slideshow_Images {
    vertical-align: middle; 
    height: auto; 
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75); 
    width: 100%; 
}

/* Next and previous buttons */
.Previous, .Next {
    cursor: pointer; 
    position: absolute; 
    top: 50%; 
    width: auto; 
    padding: 2vw; 
    color: darkgray; 
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0; 
    user-select: none; 
    transition: 0.6s ease; 
}

/* Positioning the next button on the right hand side */
.Next {
    right: 0; 
    border-radius: 3px 0 0 3px; 
}

/* Hover effect on slide show buttons */
.Previous:hover, .Next:hover {
    background-color: rgba(0, 0, 0, 0.8); 
    color: white; 
}

/* Slideshow text */
.text {
    color: white; 
    padding: 1vw;
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    text-align: center; 
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw; 
    font-size: 1.5vw; 
    background-color: rgba(0, 0, 0, 0.75); 
    font-weight: bold;
    border-radius: 0px 0px 7px 7px; 
}

/* Styling of the dots under the slideshow */
.dot {
    height: 1vw; 
    width: 1vw;
    margin: .25vw;  
    background-color: white; 
    border-radius: 50%;
    display: inline-block; 
    transition: background-color 0.6s ease; 
    z-index: 1; 
}

/* Hover effect for slideshow dots */
.active, .dot:hover {
    background-color: black;
}

.fade {
    animation-name: fade; 
    animation-duration: 1.5s; 
    -webkit-animation-name: fade; 
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;} 
    to {opacity: 1;} 
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;} 
}

/*----------/SLIDESHOW STYLE------------*/




/*-----------TABLE STYLE-----------------*/ 
* { 
    box-sizing: border-box;
}


.Column_1 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 2%;
    height: 400px;
    background-color: #000000;
} 

@media screen and (max-width: 576px) {
    .Column_1 {
        overflow: auto;
    }
} 


.Column_2 { 
    float: right; 
    width: 50%; 
    padding: 10px; 
    padding-top: 2%; 
    height: 400px; 
    background-color: #a8a7ac; 
} 

.Column_3 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 2%;
    height: 400px;
    background-color: #a8a7ac;
} 

.Column_4 {
    float: right;
    width: 50%;
    padding: 10px;
    padding-top: 2%;
    height: 400px;
    background-color: #000000;
} 

.Row:after {
	content: ""; 
	display: table; 
	clear: both; 
} 

/* End table style*/


/*Contact Form */ 

.Pop_Up_Button {
    position: fixed;
    bottom: 1.75vw; 
    right: 1.75vw; 
    width: 25vw; 
    background-color: white; 
    color: black; 
    border: solid black; 
    cursor: pointer; 
    -webkit-animation: movePopup 5s; 
    animation: movePopup 5s; 
}

/* This moves the button from the right side of the screen to its fixed location on the viewport */
@keyframes movePopup {
    from {right: -40vw;} 
    to {right: 1.75vw;}
}

@-webkit-keyframes movePopup {
    from {right: -40vw;} 
    to {right: 1.75vw;}
}

/* Styling for the contact form */
.form-popup {
    border: 3px solid #f0f1f0; 
    z-index: 8; 
    display: none; 
    position: fixed; 
    bottom: .5vw; 
    right: .5vw; 
}

/* Form styling */
.form-container {
    max-width: 49vw; 
    padding: 1vw; 
    background-color: white; 
}

/* Input */
.form-container input[type=text] {
    width: 100%; 
    padding: .93vw;
    margin: .6vw 0 .6vw 0; 
    border: none; 
    background: Gainsboro; 
    font-size: 1vw;
}

/* General styling for all buttons */
button {
    font-family: "Trebuchet MS", Optima;
    letter-spacing: .3vw; 
    font-size: 1.5vw; 
    font-weight: bold; 
    padding: 1.5vw; 
    cursor: pointer; 
    width: 100%; 
    height: auto; 
}

/* Hover effect for contact and submit buttons */
button:hover, .form-container .btn:hover {
    color: white; 
    background-color: black; 
    transition-duration: 1s; 
    -webkit-transition-duration: 1s;
    border-color: silver; 
}

/* Submit button */
.form-container .btn {
    background-color: white; 
    color: black;
    border-color: black;
    margin-bottom: 1vh; 
}

/* Close button */
.form-container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
}

/* Styling for close button on hover */
.form-container .cancel:hover {
    color: white;
    background-color: rgb(0, 23, 155);
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: black;
} 

/* End Contact Form Information */